*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 3%;
}

#main{
    position: relative;
}

input{
    width: 200px !important;
}

.cell{
    background-color: aqua;
    border: solid 3px white;
    text-align: center;
    font-size:20pt;
    cursor: pointer;
    color: red;
}
